.debug, .debug * { border: 1px dotted red}

.debug-children, .debug-children > * {border: 1px dotted red}

.index-bg {
    background-image: url('https://picsum.photos/1998/1000');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrapper {
    display: flex;
}

.content {
    display: flex;
}

.profile-pic {
    width: 125px;
    height: 125px;
}

.show-photo {
    width: 150px;
    height: 150px;
}

#sidebar {
    min-width: 150px;
    max-width: 250px;
    height: 100vh;
}

#sidebar ul li {
    padding: 5px;
    list-style: none;
    text-align: right;
}

#side.active {
    margin-left: -150px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -150px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.formcolor {
    background-color: white;
}

.register-bg {
    background-image: url('https://picsum.photos/2002/1001');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-bg {
    background-image: url('https://picsum.photos/2003/1000');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.fineprint {
    font-size: 0.7em;
}

.largeprint {
    font-size: 1.2em;
}

.big-picture {
    width: 100vw;
    height: 368px;
    object-fit: cover;
}

.listing-avail {
    height: 300px;
}

.listing-banner {
    width: 100vw;
    height: 368px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.view_photos {
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    min-width: 51.7771px !important;
    margin: 0px !important;
    text-decoration: none !important;
    transition: background 0.2s, border-color 0.2s !important;
    border-radius: 4px !important;
    border-width: 1px !important;
    border-style: solid !important;
    background: rgb(255, 255, 255) !important;
    border-color: transparent !important;
}
.save {
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    min-width: 51.7771px !important;
    margin: 0px !important;
    text-decoration: none !important;
    transition: background 0.2s, border-color 0.2s !important;
    border-radius: 4px !important;
    border-width: 1px !important;
    border-style: solid !important;
    background: rgb(255, 255, 255) !important;
    border-color: transparent !important;
}
.listing-box {
    margin: 10px;
    border: 1px solid lightgray;
    padding: 10px;
}

.listing-box a {
    color: black;
}

.map-container {
    height: 500px;
    width: 400px;

}
.nav_main {
    width: 100% ;
    z-index: 10 ;
    position: relative ;
    height: 81px ;
    background: rgb(255, 255, 255) ;
    border-bottom: 1px solid lightgray;
    padding: 16px ;
    padding-left: 10px;
}
.searchbar_div{
    height: 48px;
    font-size: 19px ;
    line-height: 24px ;
    background-color: #ffffff ;
    border-radius: 4px ;
    border: 1px solid #DBDBDB ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
    padding: 0px ;
    display: table ;
    table-layout: fixed ;
    height: 48px;
    width: 460px;
    position: relative ;
}
.search_icon {
    padding-left: 12px;
    padding-top: 11px;
    
}
.search_input {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    font-size: 16px ;
    line-height: 22px ;
    letter-spacing: undefined ;
    padding-top: undefined ;
    padding-bottom: undefined ;
    color: #484848 ;
    background-color: transparent ;
    border: 0px ;
    padding: 11px ;
    width: 100% ;
    font-weight: normal ;
    text-overflow: ellipsis ;
}
.search_button {
    display: none;
}
.navbar_right {
    display: table ;
    list-style: none ;
    padding: 0px ;
    height: 64px ;
    vertical-align: middle;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    margin-right: 20px;
}

.navbar_link {
    display: inline-block ;
    margin: 0px 4px 0px 8px ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 14px ;
    line-height: 18px ;
    letter-spacing: normal ;
    padding-top: 6px ;
    padding-bottom: 6px ;
    color: rgb(72, 72, 72) ;
    cursor: pointer ;
    display: inline-block ;
    padding-left: 12px ;
    padding-right: 12px ;
    position: relative ;
    text-align: center ;
    width: auto ;
    background: none ;
    text-decoration: none ;
    vertical-align: center ;
    margin-top: 16px;
}
.navbar_link:hover {
    text-decoration: none;
    color: none;
}


.filter_nav {
    padding: 16px 72px ;
    width: 100% ;
    z-index: 4 ;
    position: relative ;
    height: 64px ;
    background: rgb(255, 255, 255) ;
    border-bottom: 1px solid lightgray ;
    padding: 16px ;
}
.filter_nav_div {
    margin-left: 55px;
}

.filter {
    display: inline-block ;
    vertical-align: center ;
    margin: 0px 4px 0px 8px ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 14px ;
    line-height: 18px ;
    letter-spacing: normal ;
    padding-top: 6px ;
    padding-bottom: 6px ;
    color: rgb(72, 72, 72) ;
    cursor: pointer ;
    display: inline-block ;
    padding-left: 12px ;
    padding-right: 12px ;
    position: relative ;
    text-align: center ;
    width: auto ;
    background: none ;
    border-width: 1px ;
    border-style: solid ;
    border-color: rgb(220, 224, 224) ;
    border-image: initial ;
    border-radius: 4px ;
    text-decoration: none ;
    
}

.photo-button {
    text-align: bottom;
    position: absolute;
    top: 300px;
    left: 10px;
    color: white;
}

#map {
    width: 450px;
    height: 250px;
}

input.search_input:focus {
    outline-width: 0;
}
.search_input::-webkit-input-placeholder {
    color: rgb(67, 67, 67);
}
.debug {
    border: 1px solid red;
}

/* INDEX PAGE */
.page {
    width: 100%;
}
.travel {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.top_rated_listings {
    width: 90%;
    margin: 0 auto;
}
.praises {
    width: 90%;
    margin: 0 auto;
}
.travel_the_world {
    font-weight: 700 ;
    margin-bottom: 0px ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 25px ;
    line-height: 30px ;
    letter-spacing: normal ;
    padding-top: 2px ;
    padding-bottom: 18px ;
    color: rgb(72, 72, 72) ;
    margin-left: 7px;
}
.cities {
    width: 100%;
    font-size: 0px;
    
}
.city_a {
    width: 25%;
    border: none;
    padding: 0%;
}

.city_box {
    width: 95%;
    height: 72px;
    background-color: transparent ;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px ;
    text-align: left ;
    border-width: 1px ;
    border-style: solid ;
    border-color: rgba(0, 0, 0, 0.1) ;
    border-image: initial ;
    border-radius: 3px ;
    padding: 0px ;
    overflow: hidden ;
}
.city_image {
    width: 96px;
    height: 72px;
    background-image: url(https://a0.muscache.com/im/pictures/e3b8d12c-07dc-4f3d-9cdc-c79e0a442dd4.jpg?aki_policy=large);
}
.city_name {
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 16px ;
    line-height: 18px ;
    letter-spacing: normal ;
    color: rgb(72, 72, 72) ;
    font-weight: 700 ;
    margin-left: 15px;
    position: relative;
    bottom: 30px;
}
.top_rated_listings {
    width: 90%;
    margin: 0 auto;
}
.top_rated_homes {
    font-weight: 700 ;
    margin-bottom: 0px ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 25px ;
    line-height: 30px ;
    letter-spacing: normal ;
    padding-top: 2px ;
    color: rgb(72, 72, 72) ;
    margin-left: 7px;
    margin-top: 40px;
}
.explore {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 16px ;
    line-height: 22px ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    font-weight: 300 ;
    margin-top: 0px ;
    margin-left: 7px;
}
.listings {
    width: 100%;

}
.listing_row {
    width: 100%;
    font-size: 0%;

}
.listing_a {
    width: 25%;
    border: none;
    padding: 0%;
}
button.listing_a:focus {
    outline-width: 0;
}
.listing_box {
    align-content: flex-start;
    display: flex;
    width: 95%;

}
.listing_image_box {
    position: relative ;
    width: 100% ;
    z-index: 0 ;
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px ;
    overflow: hidden ;

}
.listing_image {
    width: 100%;
    height: 205px;
    background-image: url(https://a0.muscache.com/im/pictures/e3b8d12c-07dc-4f3d-9cdc-c79e0a442dd4.jpg?aki_policy=large);
    

}
.listing_TEXT {
    margin-top: 8px;


}
.listing_type {
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 13px ;
    line-height: 16px ;
    letter-spacing: normal ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    font-weight: 700 ;
    margin: 0px ;

}
.listing_name {
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 16px ;
    line-height: 22px ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    font-weight: 700 ;
    margin: 0px ;

}
.listing_price {
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 14px ;
    line-height: 18px ;
    letter-spacing: normal ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    font-weight: 300 ;
    margin-top: 3px;
    margin-bottom: 3px;

}

.star {
    display: inline-block ;
    color: rgb(0, 132, 137) ;
    font-size: 9px ;
    height: 10px ;
    margin-right: 1px ;
    width: 9px ;
}
.review_text {

    font-weight: normal ;
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 12px ;
    line-height: 16px ;
    letter-spacing: normal ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    display: inline ;
    margin: 0px ;
}
.praises {
    margin-top: 30px;
    font-size: 0px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 35px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}
.customer_support_box {
    width: 33.33%;
    
}
.customer_support {
    width: 88%;
}
.twentyfourseven {
    word-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 19px !important;
    line-height: 26px !important;
    letter-spacing: normal !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: rgb(72, 72, 72) !important;
    font-weight: 700 !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
.dayornight {
    color: rgb(72, 72, 72) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    word-wrap: break-word !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-weight: 300 !important;
    margin: 0px !important;
}
.hospitality_box {
    width: 33.33%;
    
}
.hospitality {
    width: 88%;
}
.global {
    word-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 19px !important;
    line-height: 26px !important;
    letter-spacing: normal !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: rgb(72, 72, 72) !important;
    font-weight: 700 !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
.guests {
    color: rgb(72, 72, 72) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    word-wrap: break-word !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-weight: 300 !important;
    margin: 0px !important;
}
.five_star_box {
    width: 33.33%;

}
.five_star {
    width: 88%;
}
.hosts {
    word-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 19px !important;
    line-height: 26px !important;
    letter-spacing: normal !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: rgb(72, 72, 72) !important;
    font-weight: 700 !important;
    margin-top: 15px;
    margin-bottom: 15px;

}
.from_fresh {
    color: rgb(72, 72, 72) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    word-wrap: break-word !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-weight: 300 !important;
    margin: 0px !important;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
.sticky + .filter_navbar_awesome {
    padding-top: 60px;
}

.bluecolor {
    color: rgb(0, 132, 137);
}

.copy-me {
    display: none;
}
.slideshow {
    margin: 0 auto;
    width: 65%;
}
.photo_container {
    width: 90%;
    margin: 0 auto;
    height: 475px;
    margin-top: 30px;
}
.scroll_buttons {
    
    
}
.photo_button {
    width: 100%;
}
/* Results page */
.results_page {
    font-size: 0px;
}
.results_homes {
    font-weight: 700 ;
    margin-bottom: 0px ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 25px ;
    line-height: 30px ;
    letter-spacing: normal ;
    padding-top: 2px ;
    color: rgb(72, 72, 72) ;
    margin-left: 7px;
    margin-top: 40px;

}
.results_listings {
    width: 66%;
}
.results_row {
    width: 100%;

}
.result_a {
    width: 50%;
    border: none;
    padding: 0%;
}
button.result_a:focus {
    outline-width: 0;
}
.results_box {
    align-content: flex-start;
    display: flex;
    width: 95%;
}
.results_image_box {
    position: relative ;
    width: 100% ;
    z-index: 0 ;
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px ;
    overflow: hidden ;
    object-fit: contain;
}
.results_image {
    height: 289px;
    width: 100%;
}
.results_text {
    margin-top: 8px;
}
.results_type {
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 15px ;
    line-height: 16px ;
    letter-spacing: normal ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    font-weight: 700 ;
    margin: 0px ;
}
.results_name {
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 18px ;
    line-height: 22px ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    font-weight: 700 ;
    margin: 0px ;
}
.results_price {
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 16px ;
    line-height: 18px ;
    letter-spacing: normal ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    font-weight: 300 ;
    margin-top: 3px;
    margin-bottom: 3px;

}
.map_box {
    width: 30%;
    margin-left: 0%;

}
.review_star {
    display: inline-block ;
    color: rgb(0, 132, 137) ;
    font-size: 10px ;
    height: 10px ;
    margin-right: 1px ;
    width: 9px ;
}
.results_review {
    font-weight: normal ;
    word-wrap: break-word ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 13px ;
    line-height: 16px ;
    letter-spacing: normal ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: rgb(72, 72, 72) ;
    display: inline ;
    margin: 0px ;
}
#map-search {
    width: 90%;
    height: 450px;
}