.debug, .debug * { border: 1px dotted red}

.debug-children, .debug-children > * {border: 1px dotted red}

.index-bg {
    background-image: url('https://picsum.photos/1998/1000');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrapper {
    display: flex;
}

.content {
    display: flex;
}

.profile-pic {
    width: 125px;
    height: 125px;
}

.show-photo {
    width: 150px;
    height: 150px;
}

#sidebar {
    min-width: 150px;
    max-width: 250px;
    height: 100vh;
}

#sidebar ul li {
    padding: 5px;
    list-style: none;
    text-align: right;
}

#side.active {
    margin-left: -150px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -150px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.formcolor {
    background-color: white;
}

.register-bg {
    background-image: url('https://picsum.photos/2002/1001');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-bg {
    background-image: url('https://picsum.photos/2003/1000');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.fineprint {
    font-size: 0.7em;
}

.largeprint {
    font-size: 1.2em;
}

.big-picture {
    width: 100vw;
    height: 368px;
    object-fit: cover;
}

.listing-avail {
    height: 300px;
}

.listing-banner {
    background-image: url("https://a0.muscache.com/im/pictures/27217858/9d9dabee_original.jpg");
    width: 100vw;
    height: 368px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}


.listing-box {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}


.map-container {
    height: 500px;
    width: 400px;

}
.nav_main {
    width: 100% ;
    z-index: 10 ;
    position: relative ;
    height: 81px ;
    background: rgb(255, 255, 255) ;
    border-bottom: 1px solid lightgray;
    padding: 16px ;
    padding-left: 0%;
}
.searchbar_div{
    height: 48px;
    font-size: 19px ;
    line-height: 24px ;
    background-color: #ffffff ;
    border-radius: 4px ;
    border: 1px solid #DBDBDB ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
    padding: 0px ;
    display: table ;
    table-layout: fixed ;
    height: 48px;
    width: 460px;
    position: relative ;
}
.search_icon {
    padding-left: 12px;
    padding-top: 11px;
    
}
.search_input {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    background-color: transparent !important;
    border: 0px !important;
    padding: 11px !important;
    width: 100% !important;
    font-weight: normal !important;
    text-overflow: ellipsis !important;
}
.search_button {
    display: none;
}
.navbar_right {
    display: table !important;
    list-style: none !important;
    padding: 0px !important;
    height: 64px !important;
    vertical-align: middle;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin-right: 20px;
}

.navbar_link {
    display: inline-block ;
    margin: 0px 4px 0px 8px ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 14px ;
    line-height: 18px ;
    letter-spacing: normal ;
    padding-top: 6px ;
    padding-bottom: 6px ;
    color: rgb(72, 72, 72) ;
    cursor: pointer ;
    display: inline-block ;
    padding-left: 12px ;
    padding-right: 12px ;
    position: relative ;
    text-align: center ;
    width: auto ;
    background: none ;
    text-decoration: none ;
    vertical-align: center ;
    margin-top: 16px;
}
.navbar_link:hover {
    text-decoration: none;
    color: none;
}


.filter_nav {
    padding: 16px 72px ;
    width: 100% ;
    z-index: 4 ;
    position: relative ;
    height: 64px ;
    background: rgb(255, 255, 255) ;
    border-bottom: 1px solid lightgray ;
    padding: 16px ;
}
.filter_nav_div {
    margin-left: 55px;
}

.filter {
    display: inline-block ;
    vertical-align: center ;
    margin: 0px 4px 0px 8px ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 14px ;
    line-height: 18px ;
    letter-spacing: normal ;
    padding-top: 6px ;
    padding-bottom: 6px ;
    color: rgb(72, 72, 72) ;
    cursor: pointer ;
    display: inline-block ;
    padding-left: 12px ;
    padding-right: 12px ;
    position: relative ;
    text-align: center ;
    width: auto ;
    background: none ;
    border-width: 1px ;
    border-style: solid ;
    border-color: rgb(220, 224, 224) ;
    border-image: initial ;
    border-radius: 4px ;
    text-decoration: none ;
    
}

.photo-button {
    text-align: bottom;
    position: absolute;
    top: 300px;
    left: 10px;
    color: white;
}

#map {
    width: 450px;
    height: 250px;
    border: 1px solid grey;
}
<<<<<<< HEAD

#map-search {
    width: 450px;
    height: 250px;
}
=======
input.search_input:focus {
    outline-width: 0;
}
.search_input::-webkit-input-placeholder {
    color: rgb(67, 67, 67);
}
.debug {
    border: 1px solid red;
}

/* INDEX PAGE */
.page {
    width: 100%;
}
.travel {
    width: 90%;
    margin: 0 auto;
}
.travel_the_world {
    font-weight: 700 !important;
    margin-bottom: 0px !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 25px !important;
    line-height: 30px !important;
    letter-spacing: normal !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: rgb(72, 72, 72) !important;
}
.cities {

}
.city_box {
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
    margin-bottom: 4px !important;
    text-align: left !important;
    width: 100% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    border-image: initial !important;
    border-radius: 3px !important;
    padding: 0px !important;
    overflow: hidden !important;
}
.city_image {
    width: 96px;
    height: 72px;
    background-image: url(https://a0.muscache.com/im/pictures/e3b8d12c-07dc-4f3d-9cdc-c79e0a442dd4.jpg?aki_policy=large);
}
.city_name {
    word-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 21px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: rgb(72, 72, 72) !important;
    font-weight: 700 !important;
    margin: 0px !important;
}
>>>>>>> 1955a06c389174860cef1f90fbc9f64c23f2cb4b
