{% extends 'airbnbclone/base.html' %} {% block body %}

<div class="card my-4 col-6 offset-3 p-5">
    <h3 class="text-center">My Messages</h3>
    <hr>


    {% for conversation in conversations %}
    <div class="largeprint"><a href="{% url 'airbnbclone:convo' conversation_id=conversation.id %}">Conversation with
        {% if request.session.user_id != conversation.guest.id %}
         {{ conversation.guest.username }}
         {% else %}
         {{ conversation.host.username }}
        {% endif %}
        </a></div>

    <hr>
    {% endfor %}


  

</div>

{% endblock %}