<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="Plane-tab" data-toggle="tab" href="#Plane" role="tab" aria-controls="home" aria-selected="true">Planes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Train-tab" data-toggle="tab" href="#Train" role="tab" aria-controls="train" aria-selected="false">Trains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Automobile-tab" data-toggle="tab" href="#Automobile" role="tab" aria-controls="automobile" aria-selected="false">Automobiles</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" id="Boat-tab" data-toggle="tab" href="#Boat" role="tab" aria-controls="boat" aria-selected="false">Boats</a>
        </li>
    </ul>
    
    <div class="tab-content tabcenter" id="myTabContent">
      <div class="tab-pane fade show active formcolor" id="Plane" role="tabpanel" aria-labelledby="Plane-tab">
          {% include 'airbnbclone/listingform.html' %}
      </div>
      <div class="tab-pane fade formcolor" id="Train" role="tabpanel" aria-labelledby="Train-tab">
         
      </div>
      <div class="tab-pane fade formcolor" id="Automobile" role="tabpanel" aria-labelledby="Automobile-tab">
            
        </div>
        <div class="tab-pane fade formcolor" id="Boat" role="tabpanel" aria-labelledby="Boat-tab">
            
        </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
    
    </div>
