{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'airbnbclone/lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'airbnbclone/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'airbnbclone/lib/font-awesome.min.css' %}">

    <title>Airbnb</title>
</head>
<body>
    {% include 'airbnbclone/navbar.html' %}
    
    {% block body %}

    {% endblock %}
    </div>
    <script src="{% static 'airbnbclone/lib/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'airbnbclone/lib/popper.min.js' %}"></script>
    <script src="{% static 'airbnbclone/lib/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="{% static 'airbnbclone/js/utilities.js' %}"></script>


</body>
</html>