{% extends 'airbnbclone/base.html' %} 

{% block body %}
<div class="bootstrap-iso">
<div class="container-fluid">

   <!-- Form code begins -->

   <form action="{% url 'airbnbclone:add_avail' %}" method="POST">
    <div class="row">
     <div class="form-group col-2"> <!-- Date input -->
       <label class="control-label" for="date">Date</label>
       <input class="form-control date" name="from_date" placeholder="YYYY-MM-DD" type="text"/>
     </div>
     <div class="form-group col-2"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <input class="form-control date" name="to_date" placeholder="YYYY-MM-DD" type="text"/>
      </div>
    </div>
     <div class="form-group"> <!-- Submit button -->
       <button class="btn btn-primary " name="submit" type="submit">Submit</button>
     </div>
    </form>
    <!-- Form code ends --> 
 
</div>
</div>

{% endblock %} {% block scripts %}

<script>

    $(document).ready(function () {

    
    $(".date").click(function(event) {

      let date_input=$('input[name="from_date"]'); //our date input has the name "date"
    //   let container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      
      let open_date = "{{room}}";

      console.log(open_date);
      let options={
        format: 'yyyy-mm-dd',
        // container: container,
        todayHighlight: true,
        startDate: new Date(),
        autoclose: true,
        datesDisabled: open_date,
      };
      date_input.datepicker(options);
    });
    })
</script> 

{% endblock %}