{% extends 'airbnbclone/base.html' %} {% block body %}

<div class="card my-4 col-6 offset-3 p-5">
    <h3 class="text-center font-weight-light">Conversation with
            {% if request.session.user_id != conversation.guest.id %}
            {{ conversation.guest.username }}
            {% else %}
            {{ conversation.host.username }}
           {% endif %}

    </h3>
    <hr>
    <form action="{% url 'airbnbclone:send_message' conversation_id=conversation.id %}" method="POST"id="send_message">
            {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" id="html_contents" name="html_contents" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-secondary pull-right">Send Message</button>
    </form>
    <hr> 
    {% for message in messages %}
    <div class="mb-2">{{ message.contents }}</div>
    <div class="fineprint">Sent by {{ message.from_user.username }} on {{ message.created_at }}</div>
    <hr> 
    {% endfor %}
    <div class="largeprint">Details for this listing:</div>
    <div><a class="" href="{% url 'airbnbclone:listing' listing_id=conversation.listing.id %}" >{{ conversation.listing.name }}</a></div>
    <div class="bluecolor">{{ conversation.listing.listing_type }} with {{ conversation.listing.bed}} {% if conversation.listing.bed == 1 %}bed{% else %}beds{% endif %}</div></a>
    <div class="fineprint font-weight-bold">From ${{ conversation.listing.price }} per night | {{ conversation.listing.privacy_type }}</div>
    <div class="fineprint">{{ conversation.listing.desc }}</div>


</div>

{% endblock %}