{% extends 'airbnbclone/base.html' %} {% block body %}

<div class="card my-4 col-6 offset-3 p-5">
    <h3 class="text-center font-weight-light">Edit Profile</h3>
    <form method="POST" action="{% url 'airbnbclone:edit_profile' %}" id="edit_profile-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputUsername">Update Name</label>
            <input type="text" class="form-control" id="inputUsername" name="html_username" placeholder="Enter Your Name"
                name="html_username" value="{{ user.username }}">
        </div>

        <div class="form-group">
            <label for="inputBirthday">Birth Date</label>
            <label for="inputBirthday" class="fineprint">To sign up, you must be 18 or older. Other people won’t see your birthday.</label>
            <input type="date" class="form-control" id="inputBirthday" placeholder="Your Birthday" name="html_birthday" value="{{birthday}}">
        </div>

        <div class="form-group">
            <label for="inputGender">I Am</label>
            <select class="form-control" id="inputGender" name="html_gender" placeholder="Gender" value="{{ user.gender }}">
                    {% for genopp in gender_options %}
                    <option {% if user.gender == genopp %} selected {% endif %}>{{ genopp }}</option>
                    {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="inputDescription">Describe Yourself</label>
            <label for="inputDescription" class="fineprint bluecolor">Airbnb is built on relationships. Help other people get to know you. Tell them what it’s like to have you as a guest or host: What’s your style of traveling? Of Airbnb hosting?</label>
            <textarea class="form-control" id="inputDescription" rows="3" placeholder="Describe Yourself" name="html_description">{{ user.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="inputPassword1">Update Password</label>
            <input type="password" class="form-control" id="inputPassword1" placeholder="Create Password" name="html_password" value="{{ user.password }}">
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
        <i class="fa fa-spinner ml-3 fa-spin" id="spinner" style="display: none"></i>
    </form>

    <div class="my-3 messages">

    </div>
</div>

{% endblock %}