{% extends 'airbnbclone/base.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

        <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
                <form action="" method="POST">
                        <select class="Guests">
                            <option selected>Guests</option>
                            <option value="1">1 guest</option>
                            <option value="2">2 guests</option>
                            <option value="3">3 guests</option>
                            <option value="4">4 guests</option>
                            <option value="5">5 guests</option>
                            <option value="6">6 guests</option>
                            <option value="7">7 guests</option>
                            <option value="8">8 guests</option>
                            <option value="9">9 guests</option>
                            <option value="10">10 guests</option>
                        </select>
                        <select class="Hometype">
                            <option selected>Home Type</option>
                            <option value="1">Entire Place</option>
                            <option value="2">Private Room</option>
                            <option value="3">Shared Room</option>
                        </select>
                        <select class="Price">
                            <option selected>Price</option>
                            <option value="1">RP1 - 200,000</option>
                            <option value="2">RP200,000 - 400,000 </option>
                            <option value="3">RP400,000 - 600,000</option>
                            <option value="3">RP600,000 - 800,000</option>
                            <option value="3">RP800,000 - 1,000,000</option>
                            <option value="3">RP1,000,000 - 2,000,000</option>
                            <option value="3">RP2,000,000 - 3,000,000</option>
                            <option value="3">RP3,000,000 - 5,000,000</option>
                            <option value="3">RP5,000,000 +</option>
                        </select>
                    </form>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                    <a href="{% url 'airbnbclone:index' %}">cancel</a>
            
          </ul>
          <ul class="navbar-nav"></ul>
          </ul>
        </div>
        </div>
    </nav>

{% endblock %}