{% extends 'airbnbclone/base.html' %}

{% block body %}

<div class="listing-banner">
  <img src="https://a0.muscache.com/im/pictures/27217858/9d9dabee_original.jpg?aki_policy=xx_large" alt="Image here" class="big-picture">
  <a href="" class="view-photos">View Photos</a>
  <button class="btn"> click here </button>
</div>

<div class="container">
  <div class="row">
  <div class="listing-content col-8">

    <div class="summary">
      <h3>{{room.listing_type}}</h3>
      <h2>{{room.name}}</h2>
      <p>{{room.city}}, {{room.country}}</p>
      <p>{{room.num_guests}} guests, {{room.bedroom}} bedrooms, {{room.bed}} beds, {{room.bath}} baths</p>
      <p>{{room.desc}}</p>
      <a href="">Contact host</a>
    </div>

    <hr>

    <div class="amenities">
      <p>Amenities</p>
      {% for amen in room.amenities.all %}
      <div>{{amen.name}}</div>
      {% endfor %}
    </div>

    <hr>

    <div class="cancellations">
      <p>Cancellation<p>
      <a href="">Get Details</a>
    </div>

    <hr>

    <!-- Insert reviews here -->

    <div class="hosted-by">
      <span>Hosted by {{room.host.username}}</span>
      <p>Languages: </p>
      <a href="">Contact Host</a>
    </div>

    <hr>

    <div class="neighborhood">
      <p>The neighborhood</p>
        <iframe
        width="450"
        height="250"
        frameborder="0" style="border:0"

        src="https://www.google.com/maps/embed/v1/search?key={{api_key}} &q={{room.address}}+{{room.city}}+{{room.country}}">

      </iframe>
      <span>Exact location information is provided after a booking is confirmed.</span>
    </div>
  </div>

  <div class="listing-avail col-4 border border-secondary">
    <div class="container">
    <div class="row">
      <div class="h3">${{room.price}}</div>
      <div class="small align-bottom">per night</div>
    </div>

    <form method="POST" action="{% url 'airbnbclone:authenticate_booking' %}" id="booking-form">
        {% csrf_token %}
      <div class="form-group">
          <input type="date" name="html_checkin" id="checkin" placeholder="Check In" class="form-control">
      </div>
      <div class="form-group">
          <input type="date" name="html_checkout" id="checkout" placeholder="Check Out" class="form-control">
      </div>
      <div class="form-group">
          <input type="number" name="html_guests" id="numguests" placeholder="Guests" class="form-control">
      </div>
      <button id="book-btn" class="btn btn-danger col-12">Book</button>
    </form>
    </div>

    <div class="my-3 messages">
        
    </div>



  </div>
  
</div>
  
  
  
  {% endblock %}

{% block scripts %}

<script>

    $(document).ready(function () {
      console.log('{{request.session.user_id}}');
        let d = new Date();
        let dYear = d.getFullYear();
        let dMonth = d.getMonth()+1;

        if (dMonth < 10) {
            dMonth = "0" + dMonth;
        }

        let dDate = d.getDate();

        if (dDate < 10) {
            dDate = "0" + dDate;
        }
        
        todayDate = dYear + "-" + dMonth + "-" + dDate;

        $("#checkin").attr("min", todayDate);
        $("#checkout").attr("min", todayDate);
        $("#numguests").attr("max", 5);
        
        $("#book-btn").click(function(event) {
          console.log(event);
            event.preventDefault();
            $(".messages").children().remove();
            $.ajax({
                beforeSend: setCsrfToken,
                type: "POST",
                url: $("#booking-form").attr("action"),
                data: {
                    "html_checkin": $("input[name=html_checkin]").val(),
                    "html_checkout": $("input[name=html_checkout]").val(),
                    "html_guests": $("input[name=html_guests]").val(),
                    "html_user_id": "{{request.session.user_id}}",
                    "html_listing_id": "{{room.id}}",
                    "html_charge": "{{room.price}}",
                },
                success: function (response) {
                    console.log(response);
                    window.location = response.url;
                },
                error: function(response) {
                  console.log("Stupid error not working")
                  console.log(response)
                  displayErrors($('.messages'), response.responseJSON.errors)
                }
            });

        });
    });
</script> 

{% endblock %}