
<div class="container">
    <div class="row my-5">
        <div class="col-6 offset-3">
            <form action="{% url 'airbnbclone:create_listing' %}" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="listing-type-form">Listing Type</label>
                    <select class="form-control" name="html_listing_type" id="listing-type-form">
                      <option>Apartment</option>
                      <option>House</option>
                      <option>Bed and Breakfast</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="privacy-type-form">Privacy Type</label>
                    <select class="form-control" name="html_privacy_type" id="privacy-type-form">
                      <option>Entire Place</option>
                      <option>Private Room</option>
                      <option>Shared Room</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" min="0" name="html_bedroom" id="" placeholder="bedroom">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" min="0" name="html_bath" id="" placeholder="bath">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" min="0" name="html_bed" id="" placeholder="bed">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" min="1" name="html_max_guests" id="" placeholder="guests">
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" name="html_city" id="" placeholder="city">
                    </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="html_country" id="" placeholder="country">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="html_address" id="" placeholder="address">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="html_name" id="" placeholder="name">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="html_desc" placeholder="desc" rows="3"></textarea>
                </div>
                <div class="form-group">
                        <input type="number" class="form-control" min="0" name="html_price" id="" placeholder="price">
                </div>
                <div class="form-group">
                        <input type="file" name="html_photo" multiple required class="form-control mb-3 picturetitle" id="exampleFormControlFile1">
                </div>
                
                
                <button class="btn btn-primary" role="submit">Save</button>
    
            </div>
            </form>
        </div>
    
    </div>
    </div>

