{% extends 'airbnbclone/base.html' %} {% block body %}

<div class="card my-4 col-6 offset-3 p-5">
    <h3 class="text-center">My Trips</h3>
    <hr>
    <div class="bluecolor font-weight-bold">Choose Your Next Adventure</div>
    <div>Search for a
        <a href="{% url 'airbnbclone:index' %}">great place to stay</a> on your next trip!</div>
    <hr>
    <div class="largeprint">Current and Upcoming Trips</div>
    {% for booking in current_bookings %}
    <div class="listing-box"><a href="{% url 'airbnbclone:listing' listing_id=booking.home_listing.id %}">
        <img src="{{ booking.home_listing.primary_photo }}" class="img-fluid" alt="primary photo"> 
        <div class="row justify-content-between">
            <div class="largeprint font-weight-bold col-8 mt-2">
                <h3>{{booking.home_listing.city}}</h3>
            </a></div>
            <div class="col-2 mr-3">
                <a class="btn btn-warning btn-sm mt-2" href="{% url 'airbnbclone:cancel_booking' booking_id=booking.id %}">Cancel</a>
            </div>
        </div>
        <div class="bluecolor font-weight-bold">{{ booking.from_date }} to {{ booking.to_date }} | {{booking.num_guests}} {% if booking.num_guests == 1 %}guest{% else %}guests{% endif %}</div>
        <div>{{ booking.home_listing.name }}</div>
        <div class=""><span class="bluecolor">
                {% if booking.home_listing.average_rating < 0.5 %}
                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 1 %}
                <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 1.5 %}
                <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 2 %}
                <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 2.5 %}
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 3 %}
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 3.5 %}
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 4 %}
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 4.5 %}
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                {% elif booking.home_listing.average_rating < 5 %}
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i>
                {% elif booking.home_listing.average_rating == 5 %}
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                {% endif %}</span>{{ booking.home_listing.number_reviews }} Reviews</div>
                <hr>
                <div class="mb-2 font-weight-bold bluecolor"><a href="{% url 'airbnbclone:start_convo' listing_id=booking.home_listing.id %}">Send Message to the Host</a>
                </div>
    </div>
    {% endfor %}
    <hr>
    <div class="largeprint">Past Trips</div>
    {% for booking in past_bookings %}
    <div class="listing-box"><a href="{% url 'airbnbclone:listing' listing_id=booking.home_listing.id %}">
        <img src="{{ booking.home_listing.primary_photo }}" class="img-fluid" alt="primary photo"> 
        <div class="largeprint font-weight-bold mt-2">
            <h3>{{booking.home_listing.city}}</h3></a>
        </div>
        <div class="bluecolor font-weight-bold">{{ booking.from_date }} to {{ booking.to_date }} | {{booking.num_guests}} {% if booking.num_guests == 1 %}guest{% else %}guests{% endif %}</div>
        <div>{{ booking.home_listing.name }}</div>
        <div class="fineprint font-weight-bold">Amount charged: ${{ booking.charge_amount }}</div>
        <div class="">
            <a class="btn btn-success btn-sm mt-2" href="{% url 'airbnbclone:write_review' booking_id=booking.id %}">Write a Review of Your Trip</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}