{% extends 'airbnbclone/base.html' %} {% block body %}

<div class="card my-4 col-6 offset-3 p-5">
    <h3 class="text-center">My Bookings</h3>
    <hr>
    <div class="largeprint">Choose Your Next Adventure</div>
    <div>Search for a
        <a href="{% url 'airbnbclone:index' %}">great place to stay</a> on your next trip!</div>
    <hr>
    <div class="largeprint">Current and Upcoming Trips</div>
    {% for booking in current_bookings %}
    <div class="listing-box">
        <div class="row justify-content-between">
            <div class="largeprint col-8">
                <a href="{% url 'airbnbclone:listing' listing_id=booking.home_listing.id %}">{{ booking.home_listing.name }}</a>
            </div>
            <div class="col-2 mr-3">
                <a class="btn btn-danger" href="{% url 'airbnbclone:cancel_booking' booking_id=booking.id %}">Cancel</a>
            </div>
        </div>
        <div>{{ booking.from_date }} to {{ booking.to_date }}</div>
        <div class="fineprint">{{ booking.home_listing.desc }}</div>
    </div>
    {% endfor %}
    <hr>
    <div class="largeprint">Past Trips</div>
    {% for booking in past_bookings %}
    <div class="listing-box">
        <div class="row justify-content-between">
            <div class="largeprint col-8">
                <a href="{% url 'airbnbclone:listing' listing_id=booking.home_listing.id %}">{{ booking.home_listing.name }}</a>
            </div>
            <div class="col-2 mr-5">
                <a class="btn btn-success" href="{% url 'airbnbclone:write_review' booking_id=booking.id %}">Write Review</a>
            </div>
        </div>
        <div>{{ booking.from_date }} to {{ booking.to_date }}</div>
        <div class="fineprint">{{ booking.home_listing.desc }}</div>
    </div>
    {% endfor %}

</div>

{% endblock %}