{% extends 'airbnbclone/base.html' %} {% block body %}

<div class="card my-4 col-6 offset-3 px-5 py-1">
    <h3 class="text-center font-weight-light py-3">Ready to See the World? Sign Up Today!</h3>
    <form method="POST" action="{% url 'airbnbclone:register' %}" id="register-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputUserName1">Full Name</label>
            <input type="text" class="form-control" id="inputUserName1" aria-describedby="usernameHelp" placeholder="Enter Your Name"
                name="html_username" autofocus>
        </div>
        <div class="form-group">
            <label for="inputEmail1">Email Address</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter Email Address"
                name="html_email">
        </div>
        <div class="form-group">
            <label for="inputBirthday">Your Birthday</label>
            <label for="inputBirthday" class="fineprint bluecolor">To sign up, you must be 18 or older. Other people won’t see your birthday.</label>
            <input type="date" class="form-control" id="inputBirthday" placeholder="Your Birthday" name="html_birthday">
        </div>
        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input type="password" class="form-control" id="inputPassword1" placeholder="Create Password" name="html_password">
        </div>
        <div class="form-group">
            <label for="inputPassword2">Confirm Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password" name="html_confirm">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <i class="fa fa-spinner ml-3 fa-spin" id="spinner" style="display: none"></i>
    </form>
    <hr>
    <div class="text-center">Already have an Airbnb account? <a href="{% url 'airbnbclone:login' %}">Log in</a></div>
    <div class="my-3 messages">

    </div>
</div>

{% endblock %}