{% extends 'airbnbclone/base.html' %}

{% block body %}


<h1>Hello Map</h1>

<div><a href="{% url 'airbnbclone:view_maps' %}" target="_blank">New Tab</a></div>


<div id="map-search">

</div>
{% endblock %}


{% block scripts %}

<!-- <script>

        function initMap() {
          var myLatLng = {lat: 40.784513, lng: -73.976630};
  
          var map = new google.maps.Map(document.getElementById('map-search'), {
            zoom: 15,
            center: myLatLng
          });
  
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&libraries=places">
      </script> -->

<script>


var map;
var infoWindow;
var service;

let random_places = [
  ['Moscow1', 55.822083, 37.665453, 4],
  ['Moscow2', 55.604697, 37.642107, 4],
  ['Lisbon1', 38.749402, -9.120034, 4],
  ['Lisbon2', 38.708960, -9.169130, 4],
  ['NewYork1', 40.784513, -73.976630, 4],
  ['NewYork2', 40.707522, -74.037055, 4],
  ['Bondi Beach', -33.890542, 151.274856, 4],
  ['Coogee Beach', -33.923036, 151.259052, 5],
  ['Cronulla Beach', -34.028249, 151.157507, 3],
  ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
  ['Maroubra Beach', -33.950198, 151.259302, 1]
];

function initMap() {
  map = new google.maps.Map(document.getElementById('map-search'), {
    center: {lat: -33.867, lng: 151.206},
    zoom: 15,
    styles: [{
      stylers: [{ visibility: 'simplified' }]
    }, {
      elementType: 'labels',
      stylers: [{ visibility: 'off' }]
    }]
  });

  infoWindow = new google.maps.InfoWindow();
  console.log("ready for service")
  
  service = new google.maps.places.PlacesService(map);

  // The idle event is a debounced event, so we can query & listen without
  // throwing too many requests at the server.
  map.addListener('idle', performSearch);
}

function performSearch() {
  var request = {
    bounds: map.getBounds(),
    keyword: 'best view'
  };
  service.radarSearch(request, callback(random_places));
  console.log("in perform Search");
}

function callback(locations) {

  for (var i = 0, result; result = locations[i]; i++) {
    console.log(result[0]);
    addMarker(result);
  }
    console.log("finish callback");
}

function addMarker(place) {
    let addr_lat = place[1]
    let addr_lon = place[2]
    var myLatLng = {lat: addr_lat, lng: addr_lon};
  
  console.log(myLatLng)
  var marker = new google.maps.Marker({
    map: map,
    position: myLatLng,

  });

  console.log("finish marker begin listener");

  google.maps.event.addListener(marker, 'click', function() {
    

  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
      '<div id="bodyContent">'+
      '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
      'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
      '(last visited June 22, 2009).</p>'+
      '</div>'+
      '</div>';

    let request = {placeId: place[3]}

    service.getDetails(request, function(result, status) {
      infoWindow.setContent(place[0]);
      infoWindow.open(map, marker);
    });
  });
}


$(document).ready(function() {
    console.log("ready");
});

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&libraries=places" async defer>
</script>

{% endblock %}