{% extends 'airbnbclone/base.html' %} {% block body %}

<div class="card my-4 col-6 offset-3 p-5">

    <h3 class="text-center">Write a Review</h3>
    <div class="text-center">
        <em>Your stay with {{ booking.home_listing.host.username }} from {{booking.from_date}} to {{booking.to_date}}:</em>
    </div>
    <hr>

    <form method="POST" action="{% url 'airbnbclone:submit_review' booking_id=booking.id %}" id="review-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="inputDescription">Describe Your Experience:</label>
            <label for="inputDescription" class="fineprint">How was your stay? Your review will be public on your host's profile.</label>
            <textarea class="form-control" id="inputDescription" rows="3" placeholder="What was it like to stay with this host?" name="html_description"
                autofocus></textarea>
        </div>

        <fieldset class="form-group">
            <label for="star_radio">Would you recommend this host?</label>
            <div class="row">
                <div class="col-6 offset-1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="starRadio5" value="5" name="html_star_rating">
                        <label class="form-check-label" for="starRadio5">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="starRadio4" value="4" name="html_star_rating">
                        <label class="form-check-label" for="starRadio4">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="starRadio3" value="3" name="html_star_rating">
                        <label class="form-check-label" for="starRadio3">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="starRadio2" value="2" name="html_star_rating">
                        <label class="form-check-label" for="starRadio2">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="starRadio1" value="1" name="html_star_rating">
                        <label class="form-check-label" for="starRadio1">
                            <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                        </label>
                    </div>

                </div>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Submit Review</button>
        <i class="fa fa-spinner ml-3 fa-spin" id="spinner" style="display: none"></i>
    </form>

</div>

{% endblock %}
